* {
	box-sizing: border-box;
}

.box {
	margin:10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position:relative;
}

.box > .cell {
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.box .cell {
	position: absolute;
}