* {
	box-sizing: border-box;
}

.vertical-align-middle {
	display: inline-block;
	vertical-align: middle;
}
.vertical-align-middle::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.box {
	margin:10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position:relative;
}

.box > .cell {
	border-left: 1px solid black;
	border-top: 1px solid black;

	position: absolute;
	text-align:center;
}


.box .point {
	width: 90%;
	height: 90%;
}

.box .point.snake {
	background-color: red;
}

.box .point.alone {
	background-color: green;
}